@page
@model Panacea_GroupProject.Pages.AdminPage.ManageUser.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserProfile.Name" class="control-label"></label>
                <input asp-for="UserProfile.Name" class="form-control" />
                <span asp-validation-for="UserProfile.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Email" class="control-label"></label>
                <input asp-for="UserProfile.Email" class="form-control" />
                <span asp-validation-for="UserProfile.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Phone" class="control-label"></label>
                <input asp-for="UserProfile.Phone" class="form-control" />
                <span asp-validation-for="UserProfile.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Dob" class="control-label"></label>
                <input asp-for="UserProfile.Dob" class="form-control" />
                <span asp-validation-for="UserProfile.Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.RoleId" class="control-label"></label>
                <select asp-for="UserProfile.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Gender" class="control-label"></label>
                <input asp-for="UserProfile.Gender" class="form-control" />
                <span asp-validation-for="UserProfile.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Address" class="control-label"></label>
                <input asp-for="UserProfile.Address" class="form-control" />
                <span asp-validation-for="UserProfile.Address" class="text-danger"></span>
            </div>
            <div class="form-group hide">
                <label asp-for="UserProfile.Password" class="control-label"></label>
                <input asp-for="UserProfile.Password" class="form-control" />
                <span asp-validation-for="UserProfile.Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check hide">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserProfile.IsDelete" /> @Html.DisplayNameFor(model => model.UserProfile.IsDelete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
