@page
@model Panacea_AuctionJewelry_GroupProject.Pages.UsersPage.AdminPageModel
@{
    ViewData["Title"] = "Admin Page";
}

<h2>Welcome to the Admin Page</h2>

<p>This is the admin page. You can manage your website content here.</p>
