@page
@model Panacea_GroupProject.Pages.Template.JewelleryModel
@using BusinessObjects
@using Panacea_GroupProject.Helpers

@{
    var loggedInUser = ViewContext.HttpContext.Session.GetObjectFromJson<User>("LoggedInUser");
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Lodge</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Poppins:400,600,700&display=swap" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">

    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/Template">
                        <img src="~/images/logo.png" alt="">
                        <span>
                            Lodge
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/Template">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Template/About">About</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/Template/Jewellery" id="jewelry-link" role="button" aria-haspopup="true" aria-expanded="false">
                                        Jewellery
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="jewelry-link">
                                        @if (loggedInUser != null && loggedInUser.RoleId.Equals(5))
                                        {
                                            <a class="dropdown-item" href="/JewelryPage/Create">Create Jewelry</a>
                                        }
                                        <a class="dropdown-item" href="/JewelryPage/ViewAll">See all browsed jewelry</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/Template/Auctions" id="auction-link" role="button" aria-haspopup="true" aria-expanded="false">
                                        Auction
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="auction-link">
                                        @* <a class="dropdown-item" href="/upcoming-auctions">Upcoming Auctions</a> *@
                                        <a class="dropdown-item" href="/AuctionRequestPage/Create">Auctions Request</a>
                                        @if (loggedInUser != null && loggedInUser.RoleId.Equals(4))
                                        {
                                            <a class="dropdown-item" href="/AuctionRequestPage/RequestApproval">Staff Request Approval</a>
                                        }
                                        <a class="dropdown-item" href="/Auctions/MyAuctions">My Auctions</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Template/Contact">Contact us</a>
                                </li>
                                @if (loggedInUser != null)
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Hi, @loggedInUser.Name
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/Template/MyProfile">Profile</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/Accounts/Logout">Logout</a>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Accounts/Login">Login</a>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="quote_btn-container">
                            <form class="form-inline search-form" method="get" action="/search">
                                <input class="form-control mr-sm-2 d-none" type="search" placeholder="Search" aria-label="Search" name="query">
                            </form>
                            <button class="btn my-2 my-sm-0 nav_search-btn" type="button"></button>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <!-- item section -->

    <div class="item_section layout_padding2">
        <div class="container">
            <div class="item_container">
                <div class="box">
                    <div class="price">
                        <h6>
                            Best PRICE
                        </h6>
                    </div>
                    <div class="img-box">
                        <img src="~/images/i-1.png" alt="">
                    </div>
                    <div class="name">
                        <h5>
                            Bracelet
                        </h5>
                    </div>
                </div>
                <div class="box">
                    <div class="price">
                        <h6>
                            Best PRICE
                        </h6>
                    </div>
                    <div class="img-box">
                        <img src="~/images/i-2.png" alt="">
                    </div>
                    <div class="name">
                        <h5>
                            Ring
                        </h5>
                    </div>
                </div>
                <div class="box">
                    <div class="price">
                        <h6>
                            Best PRICE
                        </h6>
                    </div>
                    <div class="img-box">
                        <img src="~/images/i-3.png" alt="">
                    </div>
                    <div class="name">
                        <h5>
                            Earings
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end item section -->
    <!-- price section -->

    <section class="price_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Our Jewellery Price
                </h2>
            </div>
            <div class="price_container">
                <div class="box">
                    <div class="name">
                        <h6>
                            Diamond Ring
                        </h6>
                    </div>
                    <div class="img-box">
                        <img src="~/images/p-1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            $<span>1000.00</span>
                        </h5>
                        <a href="">
                            Buy Now
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div class="name">
                        <h6>
                            Diamond Ring
                        </h6>
                    </div>
                    <div class="img-box">
                        <img src="~/images/i-2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            $<span>1000.00</span>
                        </h5>
                        <a href="">
                            Buy Now
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div class="name">
                        <h6>
                            Diamond Ring
                        </h6>
                    </div>
                    <div class="img-box">
                        <img src="~/images/i-3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            $<span>1000.00</span>
                        </h5>
                        <a href="">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a href="" class="price_btn">
                    See More
                </a>
            </div>
        </div>
    </section>

    <!-- end price section -->
    <!-- info section -->
    <section class="info_section ">
        <div class="container">
            <div class="info_container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info_logo">
                            <a href="">
                                <img src="~/images/logo.png" alt="">
                                <span>
                                    Lodge
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_contact">
                            <a href="">
                                <img src="~/images/location.png" alt="">
                                <span>
                                    Address
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_contact">
                            <a href="">
                                <img src="~/images/phone.png" alt="">
                                <span>
                                    +01 1234567890
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_contact">
                            <a href="">
                                <img src="~/images/mail.png" alt="">
                                <span>
                                    demo@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="info_form">
                    <div class="d-flex justify-content-center">
                        <h5 class="info_heading">
                            Newsletter
                        </h5>
                    </div>
                    <form action="">
                        <div class="email_box">
                            <label for="email2">Enter Your Email</label>
                            <input type="text" id="email2">
                        </div>
                        <div>
                            <button>
                                subscribe
                            </button>
                        </div>
                    </form>
                </div>
                <div class="info_social">
                    <div class="d-flex justify-content-center">
                        <h5 class="info_heading">
                            Follow Us
                        </h5>
                    </div>
                    <div class="social_box">
                        <a href="">
                            <img src="~/images/fb.png" alt="">
                        </a>
                        <a href="">
                            <img src="~/images/twitter.png" alt="">
                        </a>
                        <a href="">
                            <img src="~/images/linkedin.png" alt="">
                        </a>
                        <a href="">
                            <img src="~/images/insta.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info_section -->
    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            &copy; 2024 All Rights Reserved. Panacea Group
            @* <a href="https://html.design/">Free Html Templates</a> *@
        </p>
    </section>
    <!-- footer section -->

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>